<a href="https://colab.research.google.com/github/CHAESUWON/Supplementary_class/blob/main/23_02_27(%EC%9B%94)_%EB%B3%B4%EC%B6%A9%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 함수 ##

In [ ]:
def example(argument): # "def": 함수 쓰겠다 선언/ 단, 내장함수명을 사용하지 않도록 주의!
  argument             # 소괄호는 다음에 함수가 사용될 때 들어갈 인자에 대한 부분
  return

In [ ]:
# 함수 인자 설정하기
# 인자의 이름은 나중에 키워드로 함수 값을 지정해줄 때 쓰일 수 있으므로 신경 써줘야합니다.
def example(argument):
  print(argument)
  return

example(argument=1)
example(1)  # 키워드가 없으면 인자가 순서대로 들어감

1
1

In [3]:
def example(argument_1, argument_2):
  argument_1
  argument_2
  return

example(argument_1=1, argument_2=2)
example(1, 2)

None

In [ ]:
def example(argument=1):
  argument
  return

In [ ]:
def example(argument_1, argument_2=1):
  argument_1
  argument_2
  return

In [ ]:
def example(argument):
  ret = argument * 2
  return ret

print(example(1))

ret_1 = example(1)
print(ret_1)

2
2

In [ ]:
def example(argument):
  ret =argument * 2
  print(ret)

print(example(1))

2
None

In [5]:
## 1번 문제 ##
def add_num(num_1, num_2):
  print(num_1 + num_2) # 출력값 나옴
  return  # 리턴값 없어서 None

In [8]:
## 2번 문제 ##
def multiple_num(num_1, num_2=1):
  print(str(num_1))
  print(str(num_2))
  # ret = num_1 * num_2
  # return ret

  return num_1 * num_2

multiple_num(3,4)

3
4

12

In [10]:
## 3번 문제 ##
def minus_num(num_2, num_1=10): # 기본값이 없는 인자는 뒤로
  ret = num_2 - num_1
  return ret

  # return num_2 - num_1
minus_num(5)

3

In [11]:
## 4번 문제 ##
def divide_num(num_1, num_2=1):
  if  num_2 == 0:  # 0으로 나누면 에러나니까 미리 if문으로 0 리턴값 받음
    return 0   # 리턴값 받으면 함수가 끝난다. 그리고 0으로 반환

  # ret = num_1 / num_2
  # return ret
  return num_1 / num_2

divide_num(5)

5.0

In [ ]:
def divide_num(num_1, num_2=1):
  if  num_2 == 0:
    return 0

  else:
    return num_1 / num_2

In [ ]:
## 4번 문제 변화 ##
def divide_num(num_1, num_2=1):
  if num_2 != 0:
    ret = num_1/num_2
    return ret
    
  else:
    return 0

print(divide_num(5,0))

0

In [18]:
## 5번 문제 ##  어렵다.. 이해 요함 ㅇ0ㅇ;;
def space_none(str_, num_1=0):
  new_str = ""

  if num_1 < 0:
    num_1 = 0
  # return new_str
  
  if num_1 == 0:
    for char in str_:
      if char == " ":
        char = "_"
      # print(char)
      new_str = new_str + char

  else:
    for char in str_:
      if (char == " ") and (num_1 > 0):
        char = "_"
        num_1 -= 1        
      new_str = new_str + char

  return new_str
print(space_none("I'm a boy, you're a girl",3))

I'm_a_boy,_you're a girl

In [ ]:
# 5번 문제 replace로 만들어보기
def space_none(str_, num_1=0):