<a href="https://colab.research.google.com/github/CHAESUWON/Supplementary_class/blob/main/23_02_23(%EB%AA%A9)%EB%B3%B4%EC%B6%A9%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 제어문 - 반복 ##

In [ ]:
# 1 #
# print() 함수를 사용해 "hello python"을 10번 출력하는 코드를 작성하세요.
# + 그리고, print() 함수 옆에 주석으로 1,2,3,4,5,6,7,8,9,10 을 작성하세요.

print("hello python") # 1
print("hello python") # 2
print("hello python") # 3
print("hello python") # 4
print("hello python") # 5
print("hello python") # 6
print("hello python") # 7
print("hello python") # 8
print("hello python") # 9
print("hello python") # 10

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [ ]:
# 2 #
# 2.1 위 주석에서 정수 1 ~ 10 까지, 정수 10개 사용했습니다. 
# 아래 ?? 위치에 [비교 연산자]를 입력해서 정수 1 ~ 10에 해당하는 범위 1개를 표현하세요.
# 1 <= count <= 10 


# 2.2 정수 0 ~ 11를 사용해 10번을 셀 수 있는 범위 4개를 표현하세요.
# hint 
# 1 <= count <  11  # 10개
# 1 <  count <= 11  # 10개
# 0 <= count <  10  # 10개
# 0 <  count <= 10  # 10개

In [ ]:
# range(마지막 숫자 미만)
# range(시작 숫자, 마지막 숫자)
# range(시작 숫자, 마지막 숫자, 증감폭)

# 1 #
# 위 3가지 range() 함수 생성 방법을 모두 사용하여, 시작 숫자 0, 끝 숫자 10으로 변수에 할당 후
# 3가지를 모두 출력하세요
# 결과 >> range(0, 10)
print(range(10))
print(range(0, 10))
print(range(0, 10, 1))

# 2 #
# 위 range 함수 1개를 사용해, 리스트 변수에 0 ~ 9까지 10개의 정수가 포함된 리스트를 출력하세요.
# 결과 >> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# hint 리스트와 튜플은 서로 변환이 가능하다.
print(list(range(10)))

# 3 #
# 위 range 함수 1개를 사용해, 리스트 변수에 3의 배수 5개가 포함된 정수가 포함된 리스트를 출력하세요.
# 결과 >> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list(range(3, 16, 3)))

# 4 # 
# 정수 1개를 입력받고, max = 10 변수를 이용하여, 0 ~ 9까지의 10개의 정수가 포함된 리스트를 출력하세요.
max = 10
list(range(max))

# 5 #
# 입력받은 정수의 구구단을 출력하세요
# 결과 >> 몇 단을 출력할까요? 3 [3, 6, 9, 12, 15, 18, 21, 24, 27]
input_num = int(input("몇의 배수를 출력할까요? >> "))
list_2 = list(range(3, 28, input_num))
print(list_2)

range(0, 10)
range(0, 10)
range(0, 10)

TypeError: ignored

In [ ]:
# 구구단 만들기 #

input_num = int(input("몇 단을 출력할까요? >> "))
count = 1
for i in range(1, 10):
  print(f"{input_num} x {i} = {input_num * i}")
count +=1

몇 단을 출력할까요? >> 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

In [ ]:
# for 반복문에서 raneg() 함수를 사용한다는 의미?
# for 변수 in range(숫자 미만):
# for 변수 in range(시작 숫자, 마지막 숫자):
# for 변수 in range(시작 숫자, 마지막 숫자, 증감폭):

# 생각해보기
# for 변수 in list(range(숫자)):

# 1 #
# 위 for 문 사용 방법 1가지를 골라서, 정수 2 ~ 9 을 출력하세요.
for i in range(2, 10):
  print(i)


# 2 #
# 위 for 문 사용 방법 1가지를 골라서, 정수 2 ~ 9, 8개를 요소로 가진 리스트를 출력하세요.
# hint 빈 리스트에 추가하세요
li = []
for i in range(2, 10):  # 반복 되는 값이 무엇인지 모르면 중간중간에 반복 되는 값 출력해보기. ex) print(i)
  li.append(i)

print(li)

2
3
4
5
6
7
8
9
[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 리스트 내포
# 1 for 변수 in 범위:
#       반복 실행코드

# 2 for 변수 in range(숫자):
# 3 for 변수 in 튜플
# 4 for 변수 in list(튜플)
# 5 for 변수 in list(range(숫자)):


# 1 #
# 아래 for 문을 이용하여, 정수 2 ~ 9, 8개의 요소를 출력하세요.

# 1.1 for 변수 in range(숫자):
# 1.2 for 변수 in 튜플:
# 1.3 for 변수 in list(튜플):
# 1.4 for 변수 in list(range(숫자)):
Tuple = ("A", "B", "C", "D", )

for i in range(2, 10):
  print(i)

# for i in Tuple:

# for i in list(range(2, 10)):
#   print(i)

2
3
4
5
6
7
8
9

In [ ]:
# 리스트 내포
# 1 for 변수 in 범위:
#       반복 실행코드

# 2 for 변수 in range(숫자):
# 3 for 변수 in 튜플
# 4 for 변수 in list(튜플)
# 5 for 변수 in list(range(숫자)):


# 1 #
# 아래 for 문을 이용하여, 정수 2 ~ 9, 8개의 요소를 출력하세요.

# 1.1 for 변수 in range(숫자):
# 1.2 for 변수 in 튜플:
# 1.3 for 변수 in list(튜플):
# 1.4 for 변수 in list(range(숫자)):
Tuple = ("A", "B", "C", "D", "A", "B", "C", "D" )

for i in range(2, 10):
  print(i, end='')
  
print()

for i in list(range(2, 10)):
  print(i)

for j in list(Tuple):
  print(j)

print()

for j in Tuple:
  print(j, end='')

23456789

TypeError: ignored