<a href="https://colab.research.google.com/github/CHAESUWON/Supplementary_class/blob/main/23_02_21(%ED%99%94)%EB%B3%B4%EC%B6%A9%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 # 

# 1.1 변수에 대문자 'A' 값 할당 (값 = value, 할당 = allocation)
print("1.1 변수에 정수 65 할당하여 초기화") 
num = 65

# 1.2 값이 할당된 변수 출력
# 1.3 변수의 데이터 타입 출력
print('1.2 변수 출력:', num) 
print('1.3 변수 타입:', type(num)) 

# 1.4 변수가 참조하는 메모리 위치 출력 
print('1.4 주소 출력:', id(num))  # 변수가 참조하는 메모리 위치 출력

# 출력 결과
# 1.1 변수에 정수 65 할당하여 초기화
# 1.2 변수 출력: 65
# 1.3 변수 타입: <class 'int'>
# 1.4 주소 출력: 9795136


# 2 #

# 2.1 변수에 들어있는 정수 값을 2진수, 8진수, 10진수, 16진수로 출력
print('\n2.1  2진수 출력:', bin(num))  # 2진수 출력
print('2.2  8진수 출력:', oct(num))  # 8진수 출력
print('2.2 10진수 출력:', num)  # 10진수 출력
print('2.3 16진수 출력:', hex(num))  # 16진수 출력

# 출력 결과
# 2.1  2진수 출력: 0b1000001
# 2.2  8진수 출력: 0o101
# 2.2 10진수 출력: 65
# 2.3 16진수 출력: 0x41

1.1 변수에 정수 65 할당하여 초기화
1.2 변수 출력: 65
1.3 변수 타입: <class 'int'>
1.4 주소 출력: 0x957640

2.1  2진수 출력: 0b1000001
2.2  8진수 출력: 0o101
2.2 10진수 출력: 65
2.3 16진수 출력: 0x41

In [ ]:
# ***프로그래밍 구현에 정답은 없다.

# 7.1  - sep 함수 사용하여 ''(공백) 제거

# print('Life','is','short,', sep='')
# print('art','long,', sep='')
# print('oppertunity','fleeting,', sep='')
# print('experience','treacherous,', sep='')
# print('judgement','difficult.', sep='')


# 7.2

# print('Life','is','short,', end='')
# print('art','long,', end='')
# print('oppertunity','fleeting,', end='')
# print('experience','treacherous,', end='')
# print('judgement','difficult.', end='')


# 7.3
print('Life is short, \n art long, \n oppertunity fleeting, \n experience treacherous, \n judgement difficult.')



# 7.1 위 print() 함수 5개를 [공백 제거]된 상태로 출력하세요
# 결과 >> Lifeisshort,
#         artlong,

# 7.2 위 영어 문장을 print() 함수 5개를 사용하되, [줄바꿈 없이] 한줄로 출력하세요.
# 결과 >> Life is short, art long, oppertunity fleeting, experience treacherous, judgement difficult.

# 7.3 위 한줄로 출력한 영어 문장을 print() 함수 1개를 사용하여 5줄로 출력하세요.
# 결과 >> Life is short,
#         art long,

Life is short,
 art long,
 oppertunity fleeting,
 experience treacherous,
 judgement difficult.

In [ ]:
 str = 'Hello Python'

# 1. 위 문자열의 길이를 출력하세요 #
# 결과 >> 12
print(len(str))

# 2. 위 문자열의 길이를 통해 마지막 인덱스를 출력하세요
# 결과 >> 11
print(len(str) -1)  # 인덱스는 0부터 시작하므로 len(str)에서 1을 빼주어야 함

# 3. 문자 'o', 'n' 의 인덱스를 출력하세요
# 결과 >> 4
print(str.find('o'))  # 단, find 함수는 가장 처음 일치하는 값만 찾음
print(str.find('n'))

# 4. 문자 'o', 'n' 의 인덱스를 찾아, 슬라이싱 하여 출력하세요
# 결과 >> o Pytho
# print(str[4], str[6:11])

# 5. 'e' 자리의 음수 인덱스를 구하는 연산을 만들어 음수 인덱스를 출력하세요.
# 결과 >> -11
print(str.find('e') - len(str))  # 현재 인덱스 - 전체 인덱스 길이

# 6. 문자 'e' : 'y' 자리의 음수 인덱스를 구하는 연산을 만들어 슬라이싱 후 출력하세요.
# 결과 >> ello P
print(str[str.find('e') - len(str) : str.find('y') - len(str)])  # str[ 1 - 12 : 7 - 12 ]

12
11
4
11
-11
ello P

In [ ]:
# 1 #
# 리스트는 [ ] (대괄호)로 값을 묶어주며 각 값은 ,(콤마)로 구분한다.
# 리스트 = [값, 값, 값]
arr1 = [273, 32, "문자열", True, [22, 33, "AB"]]
print(arr1) # [273, 32, '문자열', True, [22, 33, 'AB']]

# 리스트는 빈 리스트를 만들어 놓은 뒤에 새 값을 추가하는 방식으로 사용할 수 있다.
arr2 = [ ]
arr3 = list()

print(arr2)       # []
print(bool(arr3)) # False

# 2 #
# 리스트는 range()를 이용해 선언 할 수 있다.

# >> 리스트 = list(range(횟수))
# >> 리스트 = list(range(시작, 끝))
# >> 리스트 = list(range(시작, 끝, 증가폭)

arr4 = list(range(4))
arr5 = list(range(4, 8))
arr6 = list(range(4, 8, 2))


print(arr4) # [0, 1, 2, 3]
print(arr5) # [4, 5, 6, 7]
print(arr6) # [4, 6]

[273, 32, '문자열', True, [22, 33, 'AB']]
[]
False
[0, 1, 2, 3]
[4, 5, 6, 7]
[4, 6]

In [ ]:
# immutable 객체 (상태 변경 X)
print("immutable 객체")
chr1 = 'A'
chr2 = 'A'
chr3 = 'A'

print(hex(id(chr1)), hex(id(chr2)), hex(id(chr3))) # 동일 주소값

chr1 = 'B'
print(hex(id(chr1)), hex(id(chr2)), hex(id(chr3))) # 상이한 주소값
# 값이 변경되면, 메모리 위치가 변경된다.

immutable 객체
0x7fcfecbd90b0 0x7fcfecbd90b0 0x7fcfecbd90b0
0x7fcfecbf55b0 0x7fcfecbd90b0 0x7fcfecbd90b0