<a href="https://colab.research.google.com/github/CHAESUWON/Supplementary_class/blob/main/23_02_22(%EC%88%98)_%EB%B3%B4%EC%B6%A9%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_1 = []

# # list_1 값 채우기 ##
print(list_1 + [1]) # + 연산자 사용(python에서만 가능)/ 웬만하면 사용 지양!

print(list_1.append(1)) # append()함수 사용. 근데 None 값 출력.. why??
# append()가 이미 작동하여 list_1에 변화를 주었고, 반환을 아무것도 안하는 함수이기 때문에 None이 출력된다
# 이게 무슨 소린고..?
print(list_1) # 출력 값: [1]

[1]
None
[1]

In [ ]:
## 1번 문제 ##
list_2 = [1, 2 ,3]
list_2.append(4)
print(list_2) # 출력 값: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
## 2번 문제 ##
list_3 = [1, 2, 3]
list_3.extend([4]) # extend(): 반복 가능한 속성을 가진 객체만 인자로 받을 수 있음.(반복 가능한 속성을 가진 객체가 뭐임?)

print(list_3) # 출력 값: [1, 2, 3, 4]


list_2 = [1, 2, 3]
list_2.append([4]) # append()는 어떤 인자가 들어오든 대부분 작동 됨. 다만, 사용자가 의도한 모습으로 안나오는 경우가 생김.

print(list_2) # 출력 값: [1, 2, 3, [4]]

[1, 2, 3, 4]
[1, 2, 3, {4}]

In [ ]:
## 3번 문제 ##
list_4 = [1, 2, 3]
list_4.insert(3, 4) # 인덱스 3의 위치에 4가 들어감
print(list_4) # 출력 값: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
## 4번 문제 ##
list_5 = [1, 2, 3]
list_5.insert(0, 4) # 리시트 0 위치에 4가 들어가고 나머지는 뒤로 밀어냄

print(list_5) # 출력 값: [4, 1, 2, 3]


list_6 = [1, 2, 3]
list_6.insert(-1, 4) # 본래 -1 위치인 [3]의 위치에 4가 들어가고 뒤쪽은 밀어냄??

print(list_6) # 출력 값: [1, 2, 4, 3]


list_7 = [1, 2, 3]
list_7.insert(5, 4) # len값을 넘어가도 쌩까고 맨 뒤에 값이 들어감

print(list_7) # 출력 값: [1, 2, 3, 4]

[4, 1, 2, 3]
[1, 2, 4, 3]
[1, 2, 3, 4]

In [ ]:
## 5번 문제 ##
list_8 = [1, 2, 3]
list_8.remove(3) # remove()함수는 특정 값을 제거해주는 함수. 삭제 할 값을 인자로 받음

print(list_8) # 출력 값: [1, 2]

[1, 2]

In [ ]:
## 6번 문제 ##
# list_9 = [1, 2, 3]
# list_9.remove(4) # 리스트 안에 존재하지 않는 값을 지우면 error 뜸

# print(list_9)


list_10 = [1, 2, 1]
list_10.remove(1) # remove() 함수는리스트 안에 중복 되는 값이 있을 경우, 가장 처음 찾는 값을 지운다

print(list_10) # 출력 값:[2, 1]

[2, 1]

In [ ]:
## 7번 문제 ##
list_11 = [1, 2, 3]
pop_item = list_11.pop(1) # pop()함수는 특정 인덱스 위치에 값을 뽑아내는 함수
                          # 인덱스 값을 인자로 받으며, 리스트에 해당 인덱스의 값을 삭제시키는 함수
                          # 반환 값으로 뽑아낸 값을 가짐

print(list_11, pop_item) # 출력 값: [1, 3] 2

[1, 3] 2

In [ ]:
## 조건문 ##

In [ ]:
## == 과 is 의 차이##

## 1번 문제 ##
num_1 = 1
num_2 = 1

print(num_1 == num_2) # 출력 값: True

True

In [ ]:
## 2번 문제 ##
num_1 = 1
num_2 = 1

print(num_1 is num_2) # 출력 값: True

True

In [ ]:
## 1, 2번 문제 심화 이해(1) ##
num_1 = 1  # int
num_2 = 1.0  # float

print(num_1 == num_2, num_1 is num_2) # 출력 값: True False
# is는 단순 의미적인 비교가 아닌 실제로 같냐는 의미를 내포한다

True False

In [ ]:
## 1, 2번 문제 심화 이해(2) ##
num_1 = 1
num_2 = 1
num_3 = num_2

# is는 메모리에 저장된 위치를 가르키는 주소가 같은지 비교하는 문구 

print(num_1 is num_2) # 출력 값: True
print(num_1 is num_3) # 출력 값: True
print(id(num_1), id(num_3)) # 출력 값: 9793088 9793088 (주소 값은 해당 컴퓨터마다 다르게 나옴)

True
True
9793088 9793088

In [ ]:
## 3번 문제 ##

# 'and', 'or', 'not'이 각각 의미하는 바는?
# and: 좌항, 우항이 모두 참이면 참, 하나라도 거짓이면 거짓을 반환
# or: 좌항, 우항 중 하나라도 참일 경우 참, 둘다 거짓일 때만 거짓을 반환
# not: 우항이 거짓이면 참, 참이면 거짓을 반환

In [ ]:
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(True or False)
print(False or False)
print(not True)
print(not False)

True
False
False
True
True
True
False
False
True

In [ ]:
## 5번 문제 ##
print(True and False or True) # 출력 값: True

# 앞에서부터 하나씩 풀어서 대입

True

In [ ]:
## 5번 문제 심화(1) ##
print(True or True and False) # 출력 값: True

# 연산자의 우선순위로 인해 'and'가 먼저 계산된다

True

In [ ]:
## 5번 문제 심화(2) ##
print((True or True) and False)

# 먼저 연산하고 싶은 것을 괄호로 씌워주면 연산자의 우선순위보다 우선적으로 작동
# 때문에 먼저 계산하고자 하는 것을 괄호로 묶는다

False

In [ ]:
## 6번 문제 ##
print(((not((True and False) or False))and True) or False) # 출력 값: True

True

In [ ]:
# 'if'조건문은 단지 'True'와 'False'만 구분 가능
# True일 경우에는 안으로, False일 경우에는 무시하는 구조

In [ ]:
# 'elif' = 그 밖에
# 'esle' = 그렇지 않으면

In [ ]:
money = 6000 # 돈
len = 600 # 거리

if money > 10000:
  print("택시를 탄다")

elif money < 4000:
  print("걸어간다")

elif (len <= 2000) and (len > 500): # 혹은 500 < len <= 2000으로 작성 가능
  print("택시를 탄다")

else:
  print("거리별 가격 체크")

택시를 탄다

In [ ]:
# input()으로 값 받아보기

input_money = int(input("지닌 돈을 입력하세요 >> "))
input_len = int(input("거리를 입력하세요 >> "))
money = input_money
len = input_len

if input_money > 10000:
  print("택시를 탄다")

elif input_money < 4000:
  print("걸어간다")

elif (input_len <= 2000) and (input_len > 500): # 혹은 500 < len <= 2000으로 작성 가능
  print("택시를 탄다")

else:
  print("거리별 가격 체크")

지닌 돈을 입력하세요 >> 3000
거리를 입력하세요 >> 300
걸어간다

In [ ]:
## 7번 문제 ##
from random import uniform # uniform(a, b)는 a와 b 사이의 실수를 랜덤으로 생성

number = uniform(0.0, 1.5)
print("파이프의 길이는 %.1fm" % number) # 소수점 첫째 자리까지 출력(교재 p.224 참고) 
                                        # %.1이 % number를 대신한다는 의미

input_data = number
pipe_len = input_data

if pipe_len < 1:
  print("파이프를 버리겠습니다")

elif pipe_len > 1:
  print("파이프를 자르겠습니다") 

else:
  print("파이프를 그대로 두겠습니다")

파이프의 길이는 0.7m
파이프를 버리겠습니다